.passwordWrapper {
  background-color: #f3f4f6;
  border: 1px solid transparent;
  border-radius: 6px;
  align-items: center;
  padding: 12px;
  display: flex;
  width: 100%;
}

.passwordInput {
  color: #bcc1ca;
  background: none;
  border: none;
  font-family:
    Open Sans,
    sans-serif;
  font-size: 14px;
  font-weight: 400;
  width: 100%;
}

.passwordInput:focus {
  outline: none;
}

.toggleVisibility {
  background: none;
  border: none;
  padding: 0;
  cursor: pointer;
  display: flex;
  align-items: center;
  justify-content: center;
}

.eyeIcon {
  margin-left: auto;
  width: 16px;
  height: 16px;
  stroke: #171a1f;
  stroke-width: 1.37143;
}

@media (width <= 640px) {
  .passwordInput {
    font-size: 12px;
  }
}
