.resourceContainer {
    padding: 1rem;
  }
  
  .manageResources {
    padding: 2rem;
    text-align: center;
  }
  
  .flexContainer {
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
    margin-top: 1rem;
  }
  