@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;600&display=swap');

.signin-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;
  background-color: #002f6c;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  padding: 2rem;
  backdrop-filter: blur(2px); /* optional: slight blur for content readability */
}

.signin-name {
  text-align: center;
  margin-bottom: 1.5rem;
}

.signin-container::before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  border-radius: 12px;
  background: inherit;
  filter: blur(8px);
  z-index: -1;
}

.signin-container h2 {
  color: #34495e;
  margin-bottom: 30px;
  font-weight: 600;
}

.auth-form {
  display: flex;
  flex-direction: column;
}

.auth-input {
  padding: 12px 15px;
  margin-bottom: 20px;
  border: 1px solid #ddd;
  border-radius: 5px;
  font-size: 16px;
  outline: none;
  transition: border-color 0.3s;
}

.auth-input:focus {
  border-color: #2980b9;
}

.remember-container {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.remember-container input[type="checkbox"] {
  margin-right: 8px;
}

.auth-button {
  padding: 12px;
  background-color: #2980b9;
  color: #fff;
  border: none;
  border-radius: 5px;
  font-size: 17px;
  cursor: pointer;
  transition: background-color 0.3s;
}

.auth-button:hover {
  background-color: #1f669a;
}

.signup-redirect {
  text-align: center;
  margin-top: 1rem;
  
}

.signup-redirect p {
  font-size: 0.95rem;
  color: #333;
}

.signup-redirect a {
  color: #004aad;
  text-decoration: none;
  font-weight: 500;
}

.signup-redirect a:hover {
  color: #002f6c;
  text-decoration: underline;
}