*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: sans-serif;
  
}
html, body, #root {
  height: 100%;
}

.container{
  padding-left: 0;
  padding-right: 0;
  margin: 0 auto;
}

body {
  margin: 0;
  background-color: #ced8ff;
}